.container {
  display: inline-grid;
  grid-template: repeat(5, 200px)/ repeat(5, 200px);
  background-color: lightblue; 
}

.room {
  border: 1px solid;
  font-size: 200%;
  text-align: center;
}

#living-room {
  grid-column:1/6;
  grid-row: 1/3;
}
/* styles.css */

#living-room {
  grid-area: 1 / 1 / 3 / 6;
}

#kitchen {
  grid-column: 4 / 6;
  grid-row: 3 / 6;
}

#bedroom {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

#bathroom {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 6;
}

#closet {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

