h1 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  padding: 20px;
  font-size: 1.3rem;
  margin: 0;
  background: white;
  resize: horizontal;
}

body {
  font-family: "BitcountPropSingle", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  background: #ccc;
}

@font-face {
    font-family: "BitcountPropSingle";
    src: url("./font/BitcountPropSingle-Regular.woff2") format(".woff2");
    font-display: swap;
}